<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
        <arg name="map_file" value = "/home/humphrey/Documents/catkin_ws/src/demo4/map.yaml"/>
    </include>
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

    <node pkg="demo4" name="demo4" type="navi_bot.py" output="screen"/>
</launch>
